@section css{
	@*Kendo UI*@
	<link href="https://kendo.cdn.telerik.com/2020.3.1021/styles/kendo.common.min.css" rel="stylesheet" />
	<link href="https://kendo.cdn.telerik.com/2020.3.1021/styles/kendo.flat.min.css" rel="stylesheet" />
}

<div class="container">
	<h2>Lista de empleados</h2>

	<div id="divKendoGrid"> </div>
</div>

@section scripts{
	@* Kendo UI *@
	<script src="https://kendo.cdn.telerik.com/2020.3.1021/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.3.1021/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.3.1021/js/messages/kendo.messages.es-ES.min.js"></script>

	<script src="~/Scripts/Empleados/ViewListaEmpleados.js"></script>
}
