@section css
{
	@Styles.Render("~/Content/myStyleSheet.css")
}

<div class="container">
	<div class="center">
		<form id="formAgregarEmpleado" class="form">
			<div class="form-group">
				<h1>Agregar un empleado</h1>
			</div>

			<div class="form-group row">
				<label for="nombreEmpleado" class="col-sm-2 col-form-label">Nombre:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="nombreEmpleado" name="nombreEmpleado" placeholder="Ingresa el nombre" />
				</div>
			</div>

			<div class="form-group row">
				<label for="apellidosEmpleado" class="col-sm-2 col-form-label">Apellidos:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="apellidosEmpleado" name="apellidosEmpleado" placeholder="Ingresa los apellidos" />
				</div>
			</div>

			<div class="form-group row">
				<label for="cedulaEmpleado" class="col-sm-2 col-form-label">Cédula:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="cedulaEmpleado" name="cedulaEmpleado" placeholder="Ingresa la cédula" />
				</div>
			</div>

			<div class="form-group row">
				<label for="generoEmpleado" class="col-sm-2 col-form-label">Género:</label>
				<div class="col-sm-10">
					<select class="form-control" id="generoEmpleado" name="generoEmpleado">
						<option disabled selected hidden>Seleccione el género</option>
						<option value="Masculino">Masculino</option>
						<option value="Femenino">Femenino</option>
						<option value="Otro">Otro</option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="fechaContratacionEmpleado" class="col-sm-2 col-form-label">Fecha contratación:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="fechaContratacionEmpleado" name="fechaContratacionEmpleado" />
				</div>
			</div>

			<div class="form-group row">
				<label for="direccionEmpleado" class="col-sm-2 col-form-label">Dirección:</label>
				<div class="col-sm-10">
					<textarea class="form-control" id="direccionEmpleado" name="direccionEmpleado" placeholder="Ingresa la dirección" rows="3"></textarea>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Estado:</label>
				<div class="col-sm-10">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="estadoEmpleado" id="estadoEmpleado1" value="true" checked />
						<label class="form-check-label" for="estadoEmpleado1">Activo</label>

						<input class="form-check-input" type="radio" name="estadoEmpleado" id="estadoEmpleado2" value="false" />
						<label class="form-check-label" for="estadoEmpleado2">Inactivo</label>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label for="nombrePuesto" class="col-sm-2 col-form-label">Puesto:</label>
				<div class="col-sm-10">
					<select class="form-control" id="nombrePuesto" name="nombrePuesto"></select>
				</div>
			</div>

			<div class="btnCenter">
				<input class="btn btn-primary" type="button" id="btnAgregar" value="Agregar" />
			</div>
		</form>
	</div>
</div>

@section scripts{
	<script src="~/Scripts/Empleados/ViewAgregarEmpleado.js"></script>
}